:root {
  --clr-primary-200: #d6a8e1;
  --clr-primary-400: #a463b5;

  --clr-neutral-100: #f7ebdd;
  --clr-neutral-900: #bbbbbb;

  --ff-primary: 'Open Sans', sans-serif;
  --ff-accent: 'Merriweather', serif;
}

/* CSS reset */

* {
  margin: 0;
  padding: 0;
  font-size: 1em;
  font-family: inherit;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  display: none;
}

html {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

body {
  font-family: var(--ff-primary);
  line-height: 1.4;
}

a {
  text-decoration: none;
}

br {
  display: none;
}

/* Nav */

.nav-list {
  background-color: var(--clr-neutral-100);
  list-style: none;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  border: 0.1em solid var(--clr-neutral-900);
}

.nav-link {
  border-left: 0.1em solid var(--clr-neutral-900);
  color: #000;
  float: right;
  display: block;
  padding: 0.25em 1.8em 0.25em 1.8em;
  font-size: 2em;
  text-align: center;
}

.nav-link:hover {
  background-color: var(--clr-neutral-900);
}

.nav-link:active {
  background-color: var(--clr-primary-400);
  color: #fff;
}

/* Landing Section */

.landing-wrapper {
  background-image: url(/bg-image-home.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center -10em;
  height: 100vh;
}

.landing-welcome-wrapper {
  margin: 0 5em;
  padding: 10em 5em;
  display: block;
  float: left;
  /* background-color: rgba(rgb(228, 153, 153); */
}

.landing-welcome-wrapper h1 {
  font-family: var(--ff-accent);
  color: var(--clr-neutral-100);
  font-size: 10em;
}

.landing-welcome-wrapper h2 {
  font-family: var(--ff-primary);
  color: var(--clr-neutral-900);
  font-size: 6em;
}

.landing-newsletter-wrapper {
  margin: 0 5em;
  padding: 4em 5em;
  display: block;
  float: left;
}

.landing-newsletter-wrapper h3 {
  font-family: var(--ff-primary);
  color: var(--clr-primary-200);
  font-size: 4em;
}

/* Books Section  */

.books-wrapper {
  --gap: 1.2em;
  height: 100vh;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  /* align-items: flex-start; */
  flex-direction: row;
  background-color: lightsalmon;
  margin: calc(-1 * var(--gap)) 0 0 calc(-1 * var(--gap));
  width: calc(100% + var(--gap));
}

.books-wrapper > div {
  margin: var(--gap) 0 0 var(--gap);
}
