:root {
  /* Colors */
  --clr-primary-200: hsla(321, 47%, 66%, 1);
  --clr-primary-400: hsla(322, 57%, 40%, 1);
  --clr-primary-600: hsla(321, 95%, 17%, 1);

  --clr-neutral: hsla(300, 55%, 96%, 1);
  --clr-highlight: hsla(323, 100%, 48%, 1);

  /* Typography */

  --ff-size: 62.5%;
  --ln-height: 1.4;
  --ff-primary: 'Open Sans', sans-serif;
  --ff-accent: 'Merriweather', serif;
}

/* Reset */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  font-size: 1em;
  font-family: inherit;
  box-sizing: border-box;
}

br {
  display: none;
}

img {
  display: block;
}

/* Invisible Scrollbar */

html {
  overflow-y: scroll;
  scroll-behavior: smooth;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

html::-webkit-scrollbar {
  display: none;
}

/* Smooth :hover Transitions */

a {
  text-decoration: none;
  transition: background 300ms ease;
  -webkit-transition: background 300ms ease;
  -moz-transition: background 300ms ease;
  -o-transition: background 300ms ease;
  -ms-transition: background 300ms ease;
}

/* Defaults */
body {
  font-size: var(--ff-size);
  line-height: var(--ln-height);
  font-family: var(--ff-primary);
  background-color: var(--clr-neutral);
}

section {
  display: grid;
  grid-template-columns: 1fr;
  min-width: 100vw;
  min-height: 100vh;
}

.card {
  display: flex;
  padding: 2.5em;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  flex: 0 0 10em;
  /* flex combines flex-shrink, flex-grow, flex-basis */
}

/* .card-row {
  display: flex;
}

.card-column {
  flex: 1;
} */

.list {
  list-style: none;
}

/* Nav */
header {
  width: 100%;
  text-align: center;
  position: fixed;
  background: var(--clr-primary-200);
  z-index: 10;
}

nav {
  position: absolute;
  text-align: right;
  top: 100%;
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 250ms ease-in-out;
}

.nav-logo {
  font-size: 3em;
}

nav ul {
}

nav li {
  margin-bottom: 1em;
  margin-right: 1em;
}

nav a {
  color: var(--clr-primary-600);
  font-size: 2em;
  line-height: 0.75;
  font-weight: bold;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

/* Add transition to make it smooth */
nav a:active {
  background-color: var(--clr-primary-600);
  color: #fff;
}

/* CSS-Only Hamburger Menu */

.nav-toggle {
  display: none;
}

.nav-toggle:checked ~ nav {
  transform: scale(1, 1);
  background: var(--clr-primary-200);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}

.nav-toggle-label {
  display: flex;
  position: absolute;
  top: 0;
  right: 1em;
  margin-right: 0.5em;
  height: 100%;
  align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: var(--clr-primary-600);
  height: 0.25em;
  width: 3.5em;
  border-radius: 0.2em;
  position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: '';
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 0.7em;
}

.nav-toggle-label span::after {
  top: 0.7em;
}

/* Landing */

.landing-box {
  /* grid-template-rows: 1fr 0.3fr; */
}

.landing-box h1 {
  font-family: var(--ff-accent);
  color: var(--clr-primary-600);
  font-size: 4.5em;
  padding-top: 1em;
}

.welcome-card {
  padding: 1em;
}

/* .welcome-card h1 {
  font-family: var(--ff-accent);
  color: var(--clr-primary-600);
  font-size: 4.5em;
  padding-top: 1em;
} */

.welcome-card img {
  /* padding: 1em; */
  width: 70%;
  border: solid var(--clr-highlight) 0.4em;
}

.welcome-card img:hover {
}

.welcome-card p {
  font-family: var(--ff-primary);
  color: var(--clr-primary-400);
  font-size: 1.8em;
}

/* Books */
.books-box {
  /* align-content: center;
  grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
  grid-gap: 2em; */
}

.books-card {
}

/* Connect */

.connect-box {
}

.connect-box img {
  max-width: 100%;
  height: auto;
}

.connect-card p {
  font-size: 2em;
  /* padding: 1em 0; */
}

/* Social Media / Footer */
footer {
  background-color: #6a6aa2;
}

.social-list {
  display: flex;
}

/* Desktop Styles */
@media screen and (min-width: 760px) {
  .nav-toggle-label {
    display: none;
  }

  main {
  }

  header {
    display: grid;
    grid-template-columns: 1fr auto minmax(60em, 2fr) 1fr;
  }

  .nav-logo {
    grid-column: 2 / span 1;
  }

  nav {
    all: unset;
    grid-column: 3 / 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  nav ul {
    display: flex;
    justify-content: flex-end;
  }

  nav li {
    margin-left: 3em;
    margin-bottom: 0;
  }

  nav a {
    opacity: 1;
    position: relative;
  }

  nav a::before {
    content: '';
    display: block;
    height: 5px;
    background: black;
    position: absolute;
    bottom: -0.25em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transform-origin: right;
    transition: transform ease-in-out 250ms;
  }

  nav a:hover::before {
    transform: scale(1, 1);
  }
}
